.btn-wrapper {
    width: 200;
    height: 50;
    border-radius: 5;
}

.button {
    width: 200;
    height: 50;
    padding: 0;
    margin: 0;
    color: white;
    border-width: 1;
    border-radius: 10;
    border-color: transparent;
}

.btn-red {
    background-color: rgb(117, 67, 67);
}
